body {
    background-color: #efefef;
    background: url("/images/bg.jpg");
}

.main {
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 38px;
    height: 38px;
}

.media-body {
    padding-top: 10px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 15px;
}

.question-title {
    margin-top: 25px;
}

.question-tag {
    margin-right: 5px;
}

.question-related {
    line-height: 20px;
    font-size: 12px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}

.question-wechat {
    width: 60%;
}

.publish-tag-tab {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}

.publish-tag-tab .label-info {
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
}

.community-menu {
    color: #999;
    font-size: 13px;
    margin-bottom: 15px;
}

.jumbotron {
    margin: 50px;
}

.comment {
    margin: 10px 0;
}

.btn-comment {
    float: right;
    margin-bottom: 10px;
}

.comments {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.sub-comments {
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}

.sub-comments .btn {
    margin: 10px 0;
}

.comment-sp {
    margin-top: 0;
}

.menu {
    color: #999;
    margin-top: 5px;
}

.menu .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon {
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon :hover {
    color: #499ef3;
}

.menu .active {
    color: #499ef3;
}

.menu .icon:hover {
    color: #499ef3;
}

.footer {
    padding: 10px 25%;
    color: #666;;
}

.btn-uploadImg{
    margin-top: 6px;
}

.input-img{
    margin-top: 5px;
}

.info-operate{
    margin-top: 15px;
}

.info-list{
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
}
.info-list li{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}
.info-list img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: 2px;
}

.right-line{
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(230,230,230);
}

.hot-list{
    list-style: none;
}
.hot-list li{
    margin-top: 5px;
    margin-bottom: 5px;
}

.notify-img{
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
}

.red {
    color: red !important;
}