<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户注册</title>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="This is my page">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/commonByRgsUpdate.css"/>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/findPwd.js"></script>
</head>

<body>
<a href="/">
    <p id="title">leeray</p>
    <p id="title-tail">join &nbsp;us</p>
</a>

<div id="register-div" class="container main">
    <div class="col-md-6 col-md-offset-3">
        <h2 class="text-center">修改密码</h2>

        <form class="user-form">
            <div class="form-group">
                <label for="username">用户名</label>
                <input type="text" class="form-control input-lg" id="username" name="username" placeholder="用户名"
                      th:value="${session.username}" readonly required autofocus>
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input type="password" class="form-control input-lg" id="password" name="password"
                       data-error="请填写密码" placeholder="密码" required>
            </div>
            <div class="form-group">
                <label for="confirm_password">确认密码</label>
                <input type="password" class="form-control input-lg" id="confirm_password" name="confirm_password"
                       placeholder="确认密码" data-error="请填写确认密码" required>
            </div>
            <div class="form-group" id="captcha-area">
                <label for="emailVerifCode">验证码</label>&nbsp;&nbsp;
                <input type="text" class="form-control input-lg" id="emailVerifCode" name="emailVerifCode"
                       placeholder="验证码" data-error="请填写验证码" required>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" id="findPwdStep2Btn">确认修改</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>