<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>个人中心</title>
    <script th:src="@{/js/jquery-3.4.1.min.js}" src="js/jquery-3.4.1.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" th:href="@{/css/community.css}" href="css/community.css">
</head>
<body>
<div th:replace="navigation :: topbar"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2><span th:text="${sectionName}"></span></h2>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12"/>
            <!--我的问题-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section == 'questions'}">
                <div class="media" th:each="question : ${pagination.data}" style="overflow: visible">
                    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded"
                                     th:src="${question.user.avatarUrl}"
                                     src="https://avatars1.githubusercontent.com/u/32791076?v=4" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <a th:href="@{'/question/'+${question.question.id}}"
                                   th:text="${question.question.title}"></a>
                            </h4>
                            <span class="text-desc">
                                <span th:text="${question.question.commentCount}"></span>
                                    个回复 ·
                                <span th:text="${question.question.viewCount}"></span>
                                    次浏览 ·
                                <span th:text="${#dates.format(question.question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                            </span>
                        </div>
                    </div>
                    <!--问题操作-->
                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                操作
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a th:href="@{'/question/'+${question.question.id}}">查看</a></li>
                                <li><a th:href="@{'/publish/'+${question.question.id}}">编辑</a></li>
                                <li>
                                    <a th:href="@{'/question/delete'+'?id='+${question.question.id}+'&page='+${pagination.page} +'&size=6'}">删除</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--最新回复-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section == 'replies'}">
                <div class="media" th:each="notification : ${pagination.data}">
                    <div class="media-body">
                        <span class="media-heading">
                            <span>[[${notification.notifierName+' '+notification.typeName+' '}]]</span>
                            <a th:href="@{'/notification/'+${notification.id}}">
                                [[${notification.outerTitle}]]
                            </a>
                            <span class="label label-danger" th:if="${notification.status == 0}">未读</span>
                            <span class="label label-warning" th:if="${notification.status == 1}">
                                <a th:href="@{'/notification/delete'+'?id='+${notification.id} +'&page='+${pagination.page} +'&size=6'}"
                                   style="color: white">删除</a>
                            </span>
                        </span>
                        <div>[[${#dates.format(notification.gmtCreate,'yyyy-MM-dd HH:mm')}]]</div>
                    </div>
                </div>
            </div>
            <!--个人资料-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section == 'info'}">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded"
                                 th:src="${session.user.avatarUrl}" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <ul class="info-list">
                            <li>
                                用户名：[[${session.user.name}]]
                            </li>
                            <li>
                                邮箱：<span th:text="${session.user.email}"></span>
                            </li>
                            <li>
                                最后操作时间：<span th:text="${#dates.format(session.user.gmtModified,'yyyy-MM-dd HH:mm')}"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--分页-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                 th:if="${section == 'questions' || section == 'replies'}">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:if="${pagination.showFirst}">
                            <a th:href="@{'/profile/'+${section}(page=${1})}" aria-label="Previous">
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.showPrevious}">
                            <a th:href="@{'/profile/'+${section}(page=${pagination.page - 1})}" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li th:class="${pagination.page==page}? 'active':''" th:each="page : ${pagination.pages}">
                            <a th:href="@{'/profile/'+${section}(page=${page})}">[[${page}]]</a>
                        </li>
                        <li th:if="${pagination.showNext}">
                            <a th:href="@{'/profile/'+${section}(page=${pagination.page + 1})}" aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.showEnd}">
                            <a th:href="@{'/profile/'+${section}(page=${pagination.totalPage})}" aria-label="Next">
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group section">
                <a href="/profile/questions" class="list-group-item"
                   th:classappend="${section == 'questions'}?'active':''">
                    我的问题
                </a>
                <a href="/profile/replies" class="list-group-item" th:classappend="${section == 'replies'}?'active':''">
                    最新回复<span class="badge" th:text="${session.unreadCount}">14</span>
                </a>
                <a href="/profile/info" class="list-group-item"
                   th:classappend="${section == 'info'}?'active':''">
                    个人资料
                </a>
            </div>
        </div>
    </div>
</div>
<div th:replace="footer :: foot"></div>
</body>
</html>